/* Google Font CDN Link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  scroll-behavior: smooth;
}

/* Custom Scroll Bar CSS */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #6e93f7;
  /* background: red; */
  border-radius: 12px;
  transition: all 0.3s ease;
}

::-webkit-scrollbar-thumb:hover {
  background: #4070f4;
}

/* navbar styling */
nav {
  position: fixed;
  width: 100%;
  padding: 20px 0;
  z-index: 998;
  transition: all 0.3s ease;
  font-family: 'Ubuntu', sans-serif;
  box-shadow: #0367d84d 0px 0px 0px 3px;
}

nav.sticky {
  background: #448ef6;
  padding: 13px 0;
  box-shadow: none;
}

nav .navbar {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}

nav .navbar .logo a {
  font-weight: 500;
  font-size: 45px;
  color: #4070f4;
}

nav.sticky .navbar .logo a {
  color: #ffffff;
}

nav .navbar .menu {
  display: flex;
  position: relative;
}

nav .navbar .menu li {
  list-style: none;
  margin: 0 8px;
}

.navbar .menu a {
  font-size: 28px;
  font-weight: 500;
  color: #ffffff;
  padding: 6px 0;
  transition: all 0.4s ease;
}

.navbar .menu a:hover {
  color: #4070f4;
}

nav.sticky .menu a {
  color: #ffffff;
}

nav.sticky .menu a:hover {
  color: #0E2431;
}

.navbar .media-icons a {
  color: #4070f4;
  font-size: 35px;
  margin: 0 6px;
}

nav.sticky .media-icons a {
  color: #ffffff;
}

/* Side Navigation Menu Button CSS */
nav .menu-btn,
.navbar .menu .cancel-btn {
  position: absolute;
  color: #ffffff;
  right: 30px;
  top: 20px;
  font-size: 20px;
  cursor: pointer;
  transition: all 0.3s ease;
  display: none;
}

nav .menu-btn {
  color: #4070f4;
}

nav.sticky .menu-btn {
  color: #ffffff;
}

.navbar .menu .menu-btn {
  color: #ffffff;
}

/* home section styling */
.animate-charcter {
  text-transform: uppercase;
  background-image: linear-gradient(-225deg,
      #36C5F0 0%,
      #2EB67D 29%,
      #E01E5A 67%,
      #ECB22E 100%);
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: red;
  background-clip: text;
  /* text-fill-color: transparent; */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  display: inline-block;
  font-size: 70px;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}

#first {
  width: 100%;
  display: flex;
  box-sizing: border-box;
}

#mypic {
  width: 400px;
  height: 400px;
  margin: auto;
  margin-left: -100px;
}

#mypic>img {
  width: 100%;
  height: 100%;
  border-radius: 70%;
  box-shadow: #0367d84d 0px 0px 0px 3px;
  animation: morph 8s ease-in-out 1s infinite;

}

@keyframes morph {

  0% {
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }

  50% {
    border-radius: 30% 60% 70% 40%/50% 60% 30% 60%;
  }

  100% {
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }
}

.home {
  height: 100vh;
  width: 100%;
  display: flex;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  font-family: 'Ubuntu', sans-serif;
  background-color: #00204a;
  /* border: 1px solid red; */
}

.home .home-content {
  width: 60%;
  height: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.home .text-one {
  font-size: 25px;
  color: #ffffff;
}

.home .text-two {
  color: #0e2431;
  font-size: 75px;
  font-weight: 600;
  margin-left: -3px;
}

.home .text-three {
  font-size: 40px;
  margin: 5px 0;
  color: #f89820;
}

.home .button {
  margin: 14px 0;
}

.home .button button:hover {
  border-color: #4070f4;
  background-color: #ffffff;
  color: #4070f4;
}

/* About Section Styling */
section {
  padding-top: 40px;
}

section .content {
  width: 80%;
  margin: 40px auto;
  font-family: 'Poppins', sans-serif;
}

.about .about-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

section .title {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}

section .title span {
  color: #0E2431;
  font-size: 30px;
  font-weight: 600;
  position: relative;
  padding-bottom: 8px;
}

section .title span::before,
section .title span::after {
  content: '';
  position: absolute;
  height: 3px;
  width: 100%;
  background: #4070f4;
  left: 0;
  bottom: 0;
}

section .title span::after {
  bottom: -7px;
  width: 70%;
  left: 50%;
  transform: translateX(-50%);
}

.about .about-details .left {
  width: 45%;
}

.about .left img {
  height: 400px;
  width: 500px;
  border-radius: 12px;
}

.about-details .right {
  width: 55%;
}

section .topic {
  color: #0E2431;
  font-size: 25px;
  font-weight: 500;
  margin-bottom: 10px;
}

.about-details .right p {
  text-align: justify;
  color: #0E2431;
  /* color: pink; */
}

.about-details .right button {
  color: #ffffff;
}

section .button button {
  outline: none;
  padding: 8px 16px;
  border-radius: 4px;
  font-size: 25px;
  font-weight: 400;
  color: #ffffff;
  background-color: #00204a;
  border: 2px solid transparent;
  cursor: pointer;
  box-shadow: #26394d 0px 20px 30px -10px;
}

section .button button a {
  /* background: black; */
  color: #ffffff;
}

section .button button:hover {
  border-color: #0E2431;
  background-color: #033a80;
  /* color: #4070f4; */
  font-weight:300;


}

/* Tech Stack */

.skills {
  background: #F0F8FF;
}

.skills .content {
  padding: 40px 0;
}

.skills-details .text {
  width: 50%;
}

.skills-details p {
  color: #0E2431;
  text-align: justify;
}

#im {
  width: 2%;
}

.skills-details .boxes {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 15px;
  margin: auto;
}

.skills-details .box {
  margin: 20px 0;
  height: auto;
  text-align: center;
}

.skills-details .boxes .topic {
  font-size: 17px;
  color: #2f4a95;
}

.id {
  width: 80%;
  box-shadow: #959da533 0px 8px 24px;
}

/* Skills */
.box4 {
  padding: 40px;
  font-family: Arial, Helvetica, sans-serif;
  color: #000000;
}

.box41 {
  width: fit-content;
  margin: auto;
  text-align: center;
}

.box41>h1 {
  padding: 5px;
  border-radius: 12px;
  color: #000000;
  font-weight: bolder;
}

.skills-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 40px;
  margin-top: 50px;
}

.skills-list div {
  background: #efecec;
  padding: 40px;
  font-size: 15px;
  border-radius: 10px;
  box-shadow: hsla(212, 97%, 43%, 0.3) 0px 0px 0px 3px;

}

.skills-list div i {
  font-size: 50px;
  margin-bottom: 30px;
}

.skills-list div i:hover {

  font-size: 50px;
  margin-bottom: 30px;
  color: #ffea00;
}


.skills-list div h2 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 15px;
}

.skills-list div:hover {
  background: #005792;
  color: #e0e0e0;
  transform: translateY(-10px);
}

/* Experience */
.my {
  text-align: center;
  margin-bottom: 40px;
  font-family: sans-serif;
  color: #2EB67D;
}

#avd {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 100px;
  gap: 40px;
  margin: auto;
  text-align: center;
  margin-bottom: 40px;
  /* background-color: antiquewhite; */
}

.benzo {
  padding-top: 10px;
  /* background-color: rgb(62, 104, 141);    */
  border-radius: 50%;
  padding-bottom: 10px;
  cursor: pointer;
}

.benzo h2 {
  font-size: 15px;
}

.benzo:hover {
  color: #033a80;
}

/* My Projects CSS */

.services .boxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

#linkss {
  height: 50px;
  margin-top: 20px;
}

#btns {
  width: 30%;
  height: 30px;
  border-radius: 5px;
  background-color: #6464ff;
  color: #ffffff;
  margin-left: 20px;
  font-weight: 600;
  border: none;
  cursor: pointer;
}

#btns:hover {
  background-color: #ffffff;
  color: #000000;
}

.services .boxes .box {
  margin: 20px 0;
  width: calc(100% / 3 - 20px);
  height: 500px;
  text-align: center;
  border-radius: 12px;
  background-color: #ffffff;
  box-shadow: #959da533 0px 8px 24px;
  padding: 30px 10px;
  cursor: default;
  transition: all 0.4s ease;
}

.services .boxes .box:hover {
  background: #005792;
  color: #ffffff;
  box-shadow: none;
}

.services .boxes .box .icon {
  width: 100%;
  text-align: center;
  line-height: 50px;
  font-size: 18px;
  color: #ffffff;
  margin: 0 auto 10px auto;
  transition: all 0.4s ease;
}

.imgs {
  width: 100%;
}

.boxes .box:hover .icon {
  background-color: #ffffff;
  color: #000000
}

.services .boxes .box:hover .topic,
.services .boxes .box:hover p {
  color: #0E2431;
  transition: all 0.4s ease;
}

.services .boxes .box:hover .topic,
.services .boxes .box:hover p {
  color: #ffffff;
}

/* Contact Me CSS */
.contact {
  background: #F0F8FF;
}

.contact .content {
  margin: 0 auto;
  padding: 30px 0;
}

.contact .text {
  width: 80%;
  text-align: center;
  margin: auto;
}

/* Footer CSS */
footer {
  /* background: #202f59; */
  background: #448ef6;
  padding: 15px 0;
  text-align: center;
  font-family: 'Poppins', sans-serif;
}

footer .text span {
  font-size: 17px;
  font-weight: 400;
  color: #ffffff;
}

footer .text span a {
  font-weight: 500;
  color: #FFF;
}

footer .text span a:hover {
  text-decoration: underline;
}

/* Scroll TO Top Button CSS */
.scroll-button a {
  position: fixed;
  bottom: 20px;
  right: 20px;
  color: #ffffff;
  background-color: #448ef6;
  padding: 7px 12px;
  ;
  font-size: 18px;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.15);
  display: none;
}

/* Responsive Media Query */
@media (max-width: 1190px) {
  section .content {
    width: 85%;
  }
}

@media (max-width: 1000px) {
  .about .about-details {
    justify-content: center;
    flex-direction: column;
  }

  .about .about-details .left {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .about-details .right {
    width: 90%;
    margin: 40px 0;
  }

  .services .boxes .box {
    margin: 20px 0;
    width: calc(100% / 2 - 20px);
  }

  .skills-details .boxes {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    margin: auto;
  }

  .home {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    font-family: 'Ubuntu', sans-serif;
    background-color: #00204a;
  }

  .home .text-three {
    font-size: 30px;
    margin: 5px 0;
    color: #4070f4;
  }

  .animate-charcter {
    text-transform: uppercase;
    background-image: linear-gradient(-225deg,
        #36C5F0 0%,
        #2EB67D 29%,
        #E01E5A 67%,
        #ECB22E 100%);
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    color: #ffffff;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 2s linear infinite;
    display: inline-block;
    font-size: 40px;
  }

  @keyframes textclip {
    to {
      background-position: 200% center;
    }
  }

  #first {
    width: 100%;
    display: flex;
    box-sizing: border-box;
  }

  #mypic {
    width: 350px;
    height: 350px;
    margin: auto;
  }

  #mypic>img {
    width: 100%;
    height: 100%;
    border-radius: 70%;
    box-shadow: hsla(212, 97%, 43%, 0.3) 0px 0px 0px 3px;
    animation: morph 8s ease-in-out 1s infinite;

  }
}

@keyframes morph {

  0% {
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }

  50% {
    border-radius: 30% 60% 70% 40%/50% 60% 30% 60%;
  }

  100% {
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }
}

@media (max-width: 900px) {
  .about .left img {
    height: 350px;
    width: 350px;
  }

}

@media (max-width: 750px) {
  nav .navbar {
    width: 90%;
  }

  nav .navbar .menu {
    position: fixed;
    left: -100%;
    top: 0;
    background: #0E2431;
    height: 100vh;
    max-width: 400px;
    width: 100%;
    padding-top: 60px;
    flex-direction: column;
    align-items: center;
    transition: all 0.5s ease;
  }

  .navbar.active .menu {
    left: 0;
  }

  nav .navbar .menu a {
    font-size: 23px;
    display: block;
    color: #ffffff;
    margin: 10px 0;
  }

  nav.sticky .menu a:hover {
    color: #4070f4;
  }

  nav .navbar .media-icons {
    display: none;
  }

  nav .menu-btn,
  .navbar .menu .cancel-btn {
    display: block;
  }

  .home .text-two {
    font-size: 65px;
  }

  .home .text-three {
    font-size: 35px;
  }

  .skills .skills-details {
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .skills-details .text {
    width: 100%;
    margin-bottom: 50px;
  }

  .skills-details .boxes {
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .services .boxes .box {
    margin: 20px 0;
    width: 100%;
  }

  .contact .text {
    width: 100%;
  }


}

@media (max-width: 500px) {
  .home .text-two {
    font-size: 55px;
  }

  .home .text-three {
    font-size: 33px;
  }

  .skills-details .boxes .per {
    font-size: 50px;
    color: #4070f4;
  }

  #first {
    width: 100%;
    background-color: #000000;
  }
}


/* CSS */
.button-89 {
  --b: 3px;
  /* border thickness */
  --s: .45em;
  /* size of the corner */
  --color: #373B44;

  padding: calc(.5em + var(--s)) calc(.9em + var(--s));
  color: var(--color);
  --_p: var(--s);
  background:
    conic-gradient(from 90deg at var(--b) var(--b), #0000 90deg, var(--color) 0) var(--_p) var(--_p)/calc(100% - var(--b) - 2*var(--_p)) calc(100% - var(--b) - 2*var(--_p));
  transition: .3s linear, color 0s, background-color 0s;
  outline: var(--b) solid #0000;
  outline-offset: .6em;
  font-size: 16px;

  border: 0;

  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-89:hover,
.button-89:focus-visible {
  --_p: 0px;
  outline-color: var(--color);
  outline-offset: .05em;
}

.button-89:active {
  background: var(--color);
  color: #ffffff;
}